---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}
<body id="homepage">

  <div class="block-left">

    <div class="content">
      <div class="main-info">
        <a href="{{ site.url }}" class="logo"><img src="{{ site.url }}/images/{{ site.logo }}"></a>

        <h1>
          {{ site.title }}
        </h1>
        <h2>
          {{ site.description }}<a href="http://hydro.ou.edu" class="none"><img src="{{ site.url }}/images/hydros.png" width="50 px" height="50px"></a>
        </h2>
        {% include social-links.html %}
      </div>
    </div>
    <canvas></canvas>
  </div>

  <div class="block-right" >
    <a href="{{ site.url }}/publications" title="publications" class="pub-menu-icon"></a>
    <span class="pub-link">PUBLICATIONS</span>
    <a href="{{ site.url }}/posts" title="posts" class="posts-menu-icon"></a>
    <span class="posts-link">POSTS</span>
    <a title="project" class="projects-menu-icon">
      <span></span>
    </a>
    <span class="projects-link">PROJECTS</span>
    <div class="content">
      <div class="about-info" style="font-style: italic;">
        {{ content }}
      </div>
      <!-- <script type="text/javascript" src="//rf.revolvermaps.com/0/0/6.js?i=5ggub0j72wz&amp;m=7&amp;c=e63100&amp;cr1=ffffff&amp;f=arial&amp;l=0&amp;bv=90&amp;lx=-420&amp;ly=420&amp;hi=20&amp;he=7&amp;hc=a8ddff&amp;rs=80" async="async"></script> -->
    </div>
  </div>
  {% include overlay.html %}
  {% include scripts.html %}
  <script src="{{ site.url }}/assets/js/canvas.js"></script>
</body>
</html>
